.sideBtn {
    width: 100px;
    background-color: darkorange;
}

.sideBtn:hover {
    width: 100px;
    background-color: black;
    color: white;
}

td.sideMenu {
    border: 2px solid darkgrey;
    background-color: lightgray;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

td.mainContent {
    /*border: 2px solid darkgrey;*/
    width: 100%;
    padding: 10px;
    vertical-align: top
}

.dashCol {
    color: #de7800;
}

.routeName {
    color: #de7800;
    font-weight: bold;
}

#routeBtn {
    margin-top: 10px;
    padding: 5px;
}

#routeBtn:hover {
    border-radius: 3px;
    background-color: darkorange;
}

