/*DASHBOARD*/

td.sideMenu {
    border: 2px solid darkgrey;
    background-color: lightgray;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

.sideMenu button {
    width: 100px;
    background-color: darkorange;
}

.sideMenu button:hover {
    width: 100px;
    background-color: black;
    color: white;
}

.dashCol {
    color: #de7800;
}

/*MAIN CONTENT*/

td.mainContent {
    /*border: 2px solid darkgrey;*/
    width: 100%;
    padding: 10px;
    vertical-align: top
}

/*ROUTE CONTENT*/

.routeName {
    color: #de7800;
    font-weight: bold;
}

#smallFrame {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.routeInfo {
    vertical-align: top;
    padding-left: 10px;
}

.routeInfo button {
    margin-top: 10px;
    padding: 5px;
}

.routeInfo button:hover {
    border-radius: 3px;
    background-color: darkorange;
}

/*ERRORS*/

.errorMsg {
    display: block;
    margin: 1px auto;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
    color: #D8000C;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    background-size: 16px;
    border-bottom: 10px;
}

.warningMsg {
    display: block;
    margin: 1px auto;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
    color: darkgoldenrod;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
    background-size: 16px;
    border-bottom: 10px;
}




